<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style >
        .well{
            background-color: black;
        }
        .col-sm-2{

            padding: 10px;
        }
        .shape{
            border: 1px solid Gainsboro  ;
        }


        .col-sm-4 {


            border: 1px solid Gainsboro;

        }
        tr , td{

            padding: 7px;


        }
        #size{


            border: 1px;
        }











    </style>

    <title> Add Category </title>
</head>
<body >
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/start.jpg" width="50" heigth="50"/>

        </div>
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Cafertaria</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="Show_Products.php">Products</a></li>
            <li class="active"><a href="#">Users</a></li>
            <li class="active"><a href="#">Manual Orders</a></li>
            <li class="active"><a href="#">Checks</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img src="img/start.jpg" width="50" height="50"/> </li>
            <li></li>
            <li><a href="#">Islam Asker</a></li>
        </ul>
    </div>
</nav>
<br/>
<!--Search Bar-->
<div class="container" >
    <div  class="col-sm-3 col-md-3 pull-right" align="right">
        
    </div>
    <br/>
    <br/>
    <br/>
    <!-- Mains Div-->
   <div align="center">

       <label><h2 style="font-style: oblique;">Add Category</h2></label>
       <br/>
       <br/>
       <form  method="post"  action="add_category.php">
       <label><h3 style="font-style: oblique; ">Category Name</h3></label>

       <input type="text" name="ctg_name" required/>
           <br/>
           <br/>
           <button type="submit" class="active btn  btn-default btn-lg">Submit</button>

       </form>





   </div>






    </div>
</div>

<br/>
<br/>
<br/>



<br/>





</div>


</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="footer text-center" background="Black">
    <div class="well">Insititute of Information and Technology </div>

</div>
</body>
</html>
