<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <ul class="nav nav-pills">
            <li class="active"><a href="orders.html">Home</a></li>
            <li class="active"><a href="Show_Products.php">Products</a></li>
            <li class="active"><a href="all-users.php">Users</a></li>
            <li class="active"><a href="AdminMainPage.html">Manual Orders</a></li>
            <li class="active"><a href="checks.html">Checks</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img src="" width="50" height="50" id="userImg" /> </li>
            <li><a href="#" id="userName"></a></li>
            <li><a href="../controllers/logout.php">Logout</a></li>
            </ul>
          </div>
          <div class="col-md-1" id="userPic">
            <i class="fa fa-3x fa-fw fa-user pull-left text-muted"></i>
          </div>
          <div class="col-md-1 text-center">
            <p class="lead text-center">Admin
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Add Product</h1>
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Product</label>
                <input class="form-control" id="product" placeholder="Enter Product Name"
                type="text" name="product">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Price</label>
                <input class="form-control" id="price" type="number" min="0"
                value="0" name="price">
              </div>
              <div class="form-group">
                <a href="#" class="pull-right">Add Category</a>
                <label class="control-label" for="category">Category</label>
                <select name="category" class="form-control" id="category">
                  <option value="" selected="">Select Category</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Select Image</label>
                <input name="userImg" type="file" class="form-control">
              </div>
              <button type="submit" class="active btn btn-default btn-lg">Submit</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"></div>
        </div>
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <footer class="section section-primary">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <h1>ITI Cafteria</h1>
                    <p>All rights reserved to Gorilla's team :)&nbsp;
                      <br>Zahra - Aya - Hazem</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="text-info text-right">
                      <br>
                      <br>
                    </p>
                    <div class="row">
                      <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-11 hidden-xs text-right">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>