<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../assets/js/getUserInfo.js"></script>
  
</head>

<body>
<div class="container">
 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ITI Cafeteria</a>
      </div>
      <ul class="nav navbar-nav">
            <li class="active"><a href="orders.html">Home</a></li>
            <li class="active"><a href="Show_Products.php">Products</a></li>
            <li class="active"><a href="all-users.php">Users</a></li>
            <li class="active"><a href="AdminMainPage.html">Manual Orders</a></li>
            <li class="active"><a href="checks.html">Checks</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img src="" width="50" height="50" id="userImg" /> </li>
            <li><a href="#" id="userName"></a></li>
            <li><a href="../controllers/logout.php">Logout</a></li>
      </ul>
    </div>
  </nav>

<br> <br>

<h1> Add Users </h1>

<br> <br>

<div class="row" class="table-responsive">
  <form role="form" action="../models/img.php" method="post" enctype="multipart/form-data">
 <div class="form-group">
                        <label class="control-label" >Name</label>
                        <input class="form-control" id="Name" placeholder=" Name"
                               type="text" name="u_name" required>
                    </div>
   <div class="form-group">
                        <label class="control-label" >Email</label>
                        <input class="form-control" id="email" placeholder="Email"
                               type="email" name="u_email" required>
                    </div>
   <div class="form-group">
                        <label class="control-label" >Password</label>
                        <input class="form-control" id="pass" placeholder="Password"
                               type="password" name="u_pass" required>
                               <br>
                              
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Conf Password</label>
                        <input class="form-control" id="con-pass" placeholder="Confirm Password"
                               type="password" name="con_pass" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Room No</label>
                        <input class="form-control" id="room_no" placeholder="Room No"
                               type="text" name="u_room" required>
                               <label id="wroom"></label>
                    </div>
<div class="form-group">
                        <label class="control-label" >Ext.</label>
                        <input class="form-control" id="Ext" placeholder="Ext"
                               type="text" name="ext" required>
                               <label id="wext"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Select Image</label>
                        <input class="form-control" id="img" 
                               type="file" name="pic" required>
                    </div>
                    <br>
                    <button type="submit" class="active btn btn-default btn-lg">Submit</button>
  </form>
</div>

<br> <br>
</body>
</html>
