
            <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/jquery-1.11.2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/getUserInfo.js"></script>
    <style >
        .well{
            background-color: black;
        }
        .col-sm-2{

            padding: 10px;
 }
       


#size{


    border: 1px;
}











    </style>

    <title>Checks Home</title>
</head>
<body style="background-color:snow;">
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">ITI Cafertaria</a>

        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="orders.html">Home</a></li>
            <li class="active"><a href="Show_Products.php">Products</a></li>
            <li class="active"><a href="all-users.php">Users</a></li>
            <li class="active"><a href="AdminMainPage.html">Manual Orders</a></li>
            <li class="active"><a href="checks.html">Checks</a></li>


            </ul>
             <ul class="nav navbar-nav navbar-right">
            <li><img src="" width="50" height="50" id="userImg" /> </li>
            <li><a href="#" id="userName"></a></li>
            <li><a href="../controllers/logout.php">Logout</a></li>
        </ul>
          </div>
          </nav>
        
     
    <script>
    // get users total
      $.ajax({
        url:"../controllers/usersController.php",
        method:"post",
        data:{
          "dest":"getUsersTotal"
        },
        success:function(response) {
          for (var i = 0; i < response.length; i++) {
            $('#usersTotl').append("<tr><td><a href='#' id='showOrders"
              +response[i]['u_id']+"'> + </a> "+response[i]['u_name']+
              "</td><td>"+response[i]['user_total']+"</td></tr>");
            $('#showOrders'+response[i]['u_id']).click(showOrders);
          }
          console.log(response);
        },
        error:function(xmlHttpRequestObj,status,error) {
          console.log(status);
        },
        complete:function(xmlHttpRequestObj) {
          console.log("Complete ");
        },
        dataType:"json",
        async:true
      });
      var isAllHidden = true;
      var shownUser;
      var optQString="";
      function showOrders(e) {
        e.preventDefault();
        var userId = $(e.target).attr('id');
        userId = userId.substr(10);
        if (isAllHidden) {
          $('#orders').show();
          $(e.target).text(" - ");
          isAllHidden = false;
          shownUser = userId;
          // get specific user orders
          $.ajax({
            url:"../controllers/ordersController.php",
            method:"post",
            data:{
              "dest":"getOrdersByUser",
              "optQ":optQString,
              "u_id":userId
            },
            success:function(response) {
              console.log(response);
              $('#userOrders').empty();
              for (var i = 0; i < response.length; i++) {
                $('#userOrders').append("<tr><td><a href='#' id='showDetails"
                  +response[i]['o_id']+"'> + </a> "+response[i]['date']+" "
                  +response[i]['time']+"</td><td>"+response[i]['total_price']
                  +"</td></tr>");
                $('#showDetails'+response[i]['o_id']).click(showDetails);
              }
            },
            error:function(xmlHttpRequestObj,status,error) {
              console.log(error);
            },
            complete:function(xmlHttpRequestObj) {
              console.log("Complete ");
            },
            dataType:"json",
            async:true
          });

        } else if (shownUser == userId) {
          $('#orders').hide();
          $('#orderDetails').hide();
          isAllHidden = true;
          isAllOrdersHidden = true;
          $(e.target).text(" + ");
        }
      }
      var shownOrder;
      var isAllOrdersHidden = true;
      function showDetails(e) {
        e.preventDefault();
        var orderId = $(e.target).attr('id');
        orderId= orderId.substr(11);
        if (isAllOrdersHidden) {
          $('#orderDetails').show();
          $(e.target).text(" - ");
          isAllOrdersHidden = false;
          shownOrder = orderId;
          // get specific user orders
          $.ajax({
            url:"../controllers/ordersController.php",
            method:"post",
            data:{
              "dest":"getOrderDetails",
              "oId":orderId
            },
            success:function(response) {
              console.log(response);
              $('#orderDetails').empty();
              for (var i = 0; i < response.length; i++) {
                var img = response[i]['p_img'];
                var pName = response[i]['p_name'];
                var quantity = response[i]['quantity'];
                $('#orderDetails').append("<div style='float:left; width:10 px'><figure><img src='../assets/img/"+img+"' ><figcaption class='text-center'>"+pName+" | "+quantity+"</figcaption></figure></div>");
              }
            },
            error:function(xmlHttpRequestObj,status,error) {
              console.log(error);
            },
            complete:function(xmlHttpRequestObj) {
              console.log("Complete ");
            },
            dataType:"json",
            async:true
          });

        } else if (shownOrder == orderId) {
          $('#orderDetails').hide();
          isAllOrdersHidden = true;
          $(e.target).text(" + ");
        }
      }
      $(function(){
        $('#search').click(function(){
          console.log('Search');
          var fromDate = $('[name = from]').val();
          var toDate = $('[name = to]').val();
          $.ajax({
            url:'../controllers/usersController.php',
            method:'POST',
            data:{
              'dest':'getChecksRange',
              'from':fromDate,
              'to':toDate
            },
            success:function(response) {
              $('#usersTotl').empty();
              $('#orders').hide();
              $('#orderDetails').hide();
              isAllHidden = true;
              isAllOrdersHidden = true;
              optQString = "and orders.date between '"+fromDate+"' and '"+toDate+"'";
              for (var i = 0; i < response.length; i++) {
                $('#usersTotl').append("<tr><td><a href='#' id='showOrders"
                  +response[i]['u_id']+"'> + </a> "+response[i]['u_name']+
                  "</td><td>"+response[i]['user_total']+"</td></tr>");
                $('#showOrders'+response[i]['u_id']).click(showOrders);
              }

            },
            error:function(xmlHttpRequestObj, status, error) {
              console.log(status);
            },
            complete:function(xmlHttpRequestObj) {

            },
            dataType:'json',
            async:true
          });
        });
      });
    </script>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 style="color:Salmon ;font-style: oblique;">Checks</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table align="center" width="100" height="100" class="col-sm-12">
<tr>
<td>
<div class="col-sm-6" >
     <div class="form-group">
       <label class="control-label" for="from">From
       <input type="date" class="form-control" name="from">
       </label>
     <!-- <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
     </div> -->
     </div>

</div>
</td>
<td >
<div class="col-sm-6" >
     <label class="control-label" for="to">From
       <input type="date" class="form-control" name="to">
       </label>
     <!-- <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
     </div> -->
     </div>
</td>
<td>
<div class="col-sm-2 text-center"  align="center">
  <button type="button" id="search" class="btn btn-primary">
  Search
</button>
</div>
</td>
<tr>
</table>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-12">
              <table class="table table-hover bg-success">
                <thead>
                  <tr bgcolor="AntiqueWhite ">
                    <th>Name</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody id="usersTotl">


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="collapse" id="orders">
              <table class="table table-hover bg-success">
                <thead>
                  <tr>
                    <th>Order Date</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody id="userOrders">

                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="orderDetails" class="collapse">
                </div>
            </div>
          </div>
        </div>
       <br/>
<br/>
 <div class="footer text-center" background="Black">
      <div class="well">Insititute of Information and Technology </div>

  </body>

</html>
