<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Products</a>
              </li>
              <li>
                <a href="#">Users</a>
              </li>
              <li>
                <a href="#">Manual Orders</a>
              </li>
              <li>
                <a href="#">Checks</a>
              </li>
            </ul>
          </div>
          <div class="col-md-1" id="userPic">
            <i class="fa fa-3x fa-fw fa-user pull-left text-muted"></i>
          </div>
          <div class="col-md-1 text-center">
            <p class="lead text-center">Admin
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
    // get users total
      $.ajax({
        url:"../controllers/usersController.php",
        method:"post",
        data:{
          "dest":"getUsersTotal"
        },
        success:function(response) {
          for (var i = 0; i < response.length; i++) {
            $('#usersTotl').append("<tr><td><a href='#' id='showOrders"
              +response[i]['u_id']+"'> + </a> "+response[i]['u_name']+
              "</td><td>"+response[i]['user_total']+"</td></tr>");
            $('#showOrders'+response[i]['u_id']).click(showOrders);
          }
          console.log(response);
        },
        error:function(xmlHttpRequestObj,status,error) {
          console.log(status);
        },
        complete:function(xmlHttpRequestObj) {
          console.log("Complete ");
        },
        dataType:"json",
        async:true
      });
      var isAllHidden = true;
      var shownUser;
      function showOrders(e) {
        e.preventDefault();
        var userId = $(e.target).attr('id');
        userId = userId.substr(10);
        if (isAllHidden) {
          $('#orders').show();
          $(e.target).text(" - ");
          isAllHidden = false;
          shownUser = userId;
          // get specific user orders
          $.ajax({
            url:"../controllers/ordersController.php",
            method:"post",
            data:{
              "dest":"getOrdersByUser",
              "u_id":userId
            },
            success:function(response) {
              console.log(response);
              $('#userOrders').empty();
              for (var i = 0; i < response.length; i++) {
                $('#userOrders').append("<tr><td><a href='#' id='showDetails"
                  +response[i]['o_id']+"'> + </a> "+response[i]['date']+" "
                  +response[i]['time']+"</td><td>"+response[i]['total_price']
                  +"</td></tr>");
                $('#showDetails'+response[i]['o_id']).click(showDetails);
              }
            },
            error:function(xmlHttpRequestObj,status,error) {
              console.log(error);
            },
            complete:function(xmlHttpRequestObj) {
              console.log("Complete ");
            },
            dataType:"json",
            async:true
          });

        } else if (shownUser == userId) {
          $('#orders').hide();
          $('#orderDetails').hide();
          isAllHidden = true;
          isAllOrdersHidden = true;
          $(e.target).text(" + ");
        }
      }
      var shownOrder;
      var isAllOrdersHidden = true;
      function showDetails(e) {
        e.preventDefault();
        var orderId = $(e.target).attr('id');
        orderId= orderId.substr(11);
        if (isAllOrdersHidden) {
          $('#orderDetails').show();
          $(e.target).text(" - ");
          isAllOrdersHidden = false;
          shownOrder = orderId;
          // get specific user orders
          $.ajax({
            url:"../controllers/ordersController.php",
            method:"post",
            data:{
              "dest":"getOrderDetails",
              "oId":orderId
            },
            success:function(response) {
              console.log(response);
              $('#orderDetails').empty();
              for (var i = 0; i < response.length; i++) {
                var img = response[i]['p_img'];
                var pName = response[i]['p_name'];
                var quantity = response[i]['quantity'];
                $('#orderDetails').append("<div style='float:left; width:10 px'><figure><img src='"+img+"' ><figcaption class='text-center'>"+pName+" | "+quantity+"</figcaption></figure></div>");
              }
            },
            error:function(xmlHttpRequestObj,status,error) {
              console.log(error);
            },
            complete:function(xmlHttpRequestObj) {
              console.log("Complete ");
            },
            dataType:"json",
            async:true
          });

        } else if (shownOrder == orderId) {
          $('#orderDetails').hide();
          isAllOrdersHidden = true;
          $(e.target).text(" + ");
        }
      }
      $('#search').click(function(){
        var fromDate = $('[name = from]').val();
        var toDate = $('[name = to]').val();
        $.ajax({
          url:'../controllers/ordersController.php',
          method:'POST',
          data:{
            'dest':'search',
            'from':fromDate,
            'to':toDate
          },
          success:function(response) {

          },
          error:function(xmlHttpRequestObj, status, error) {
            console.log(status);
          },
          complete:function(xmlHttpRequestObj) {

          },
          dataType:'json',
          async:true
        });
      });

    </script>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Checks</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-4">
              
     <div class="form-group">
       <label class="control-label" for="from">From
       <input type="date" class="form-control" name="from">
       </label>
     <!-- <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
     </div> -->
     </div>
</div>


            
            
              <div class="col-sm-4" >
     <label class="control-label" for="to">From
       <input type="date" class="form-control" name="to">
       </label>
     <!-- <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
     </div> -->
     </div>
            <div class="col-sm-4" >
  <button type="button" id="search" class="btn btn-primary">
  Search
</button>
</div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-12">
              <table class="table table-hover bg-success">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody id="usersTotl">

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="collapse" id="orders">
              <table class="table table-hover bg-success">
                <thead>
                  <tr>
                    <th>Order Date</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody id="userOrders">

                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="orderDetails" class="collapse">
                </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <footer class="section section-primary">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6">
                        <h1>ITI Cafteria</h1>
                        <p>All rights reserved to Gorilla's team :)&nbsp;
                          <br>Zahra - Aya - Hazem</p>
                      </div>
                      <div class="col-sm-6">
                        <p class="text-info text-right">
                          <br>
                          <br>
                        </p>
                        <div class="row">
                          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-11 hidden-xs text-right">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>