<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/jquery-1.11.2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/getUserInfo.js"></script>
    <style >
        .well{
            background-color: black;
        }
        .col-sm-2{

            padding: 10px;
 }
        .shape{
            border: 1px solid Gainsboro  ;
  }


.col-sm-4 {


     border: 1px solid Gainsboro;

}
tr , td{

  padding: 7px;


}
#size{


    border: 1px;
}
    </style>

    <title>Home</title>
</head>
<body style="background-color:snow;">
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">ITI Cafertaria</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="UserMainPage.html">Home</a></li>
            <li class="active"><a href="my-orders.html">My Orders</a></li>
           


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img src="" width="50" height="50" id="userImg" /> </li>
            
            <li><a href="#" id="userName"></a></li>
            <li><a href="../controllers/logout.php">Logout</a></li>
        </ul>
    </div>
</nav>
<br/>
<!--Search Bar-->
<div class="container">
<div  class="col-sm-3 col-md-3 pull-right" align="right"> 
    <div class=" input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" width="100" hight="50" />
     </div>
</div>
<br/>
<br/>
<br/>
<script>
  // confirm
  $(function(){
    $('#confirm').click(function(e) {
      // var userId = 3;
      var notes = $('#notes').val();
      var room = $('#rooms option:selected').text();
      var totalPrice = $('#totalPrice').text();
      var products = [];
      $('.productInfo').each(function(index,element){
        var productId = $(this).attr('id');
        var quantity = $(this).find('#quantity'+productId).text();
        var ttlPrice = $(this).find('#price'+productId).text();
        products.push({"productId":productId,"quantity":quantity,"total":ttlPrice});      
      });
      products = JSON.stringify(products);
      console.log(products);
      $.ajax({
        url:"../controllers/ordersController.php",
        method:"post",
        data:{
          "dest":"addOrder",
          "room_no":room,
          "notes":notes,
          "totalPrice":totalPrice,
          "products":products
        },
        success:function(response) {
          console.log(response);
          $('#choose>tbody').empty();
          $('#notes').val("")
          $('#totalPrice').text("0");
        },
        error:function(xmlHttpRequestObj,status,error) {
          console.log(error);
        },
        complete:function(xmlHttpRequestObj) {
          console.log("Complete ");
        },
        async:true
      });

    });
  });
  // getting rooms
  $.ajax({
    url:"../controllers/productsController.php",
    method:"post",
    data:{
      "dest":"getRooms"
    },
    success:function(response) {
      for (var i = 0; i < response.length; i++) {
        $('#rooms').append("<option>"+response[i]['room_no']+"</option>");
      }
    },
    error:function(xmlHttpRequestObj,status,error) {
      console.log(error);
    },
    complete:function(xmlHttpRequestObj) {
      console.log("Complete ");
    },
    dataType:"json",
    async:true
  });
  // getting products
  $.ajax({
    url:"../controllers/productsController.php",
    method:"post",
    data:{
      "dest":"getProducts"
    },
    success:function(response) {
      console.log(response);
      for (var i = 0; i < response.length; i++) {
        var productName = response[i]['p_name'];
        var productImg = response[i]['p_img'];
        var productId = response[i]['p_id'];
        var productPrice = response[i]['u_price'];
        $('#products').append("<div class='col-sm-4' name='"+productPrice+"'><figure class='shape' name='"+productId+"'><img id='imgp"+productId+"'src='../assets/img/"+productImg+"' width='100' height='100'><figcaption>"+productName+"</figcaption></figure></div>");
        $('#imgp'+productId).click(productClick);
      }
    },
    error:function(xmlHttpRequestObj,status,error) {
      console.log(error);
    },
    complete:function(xmlHttpRequestObj) {
      console.log("Complete ");
    },
    dataType:"json",
    async:true
  });
  // get the latest products
  $.ajax({
    url:"../controllers/productsController.php",
    method:"post",
    data:{
      "dest":"getLatestProducts"
    },
    success:function(response) {
      console.log(response);
      for (var i = 0; i < response.length; i++) {
        var productName = response[i]['p_name'];
        var productImg = response[i]['p_img'];
        var productId = response[i]['p_id'];
        var productPrice = response[i]['u_price'];
        $('#latestOrders').append("<div class='col-sm-4' name='"+productPrice+"'><figure class='shape' name='"+productId+"'><img id='imgl"+productId+"'src='../assets/img/"+productImg+"' width='100' height='100'><figcaption>"+productName+"</figcaption></figure></div>");
        $('#imgl'+productId).click(productClick);
      }
    },
    error:function(xmlHttpRequestObj,status,error) {
      console.log(error);
    },
    complete:function(xmlHttpRequestObj) {
      console.log("Complete ");
    },
    dataType:"json",
    async:true
  }); 
  // search 
  $('#srch-term').on('input',function(e) {
  var query = e.target.value;
    $.ajax({
      url:"../controllers/productsController.php",
      method:"post",
      data:{
        "dest":"searchProducts",
        "query":query
      },
      success:function(response) {
        $('#products').empty();
        console.log(response);
        for (var i = 0; i < response.length; i++) {
          var productName = response[i]['p_name'];
          var productImg = response[i]['p_img'];
          var productId = response[i]['p_id'];
          var productPrice = response[i]['u_price'];
          $('#products').append("<div class='col-sm-4' name='"+productPrice+"'><figure class='shape' name='"+productId+"'><img id='imgs"+productId+"'src='../assets/img/"+productImg+"' width='100' height='100'><figcaption>"+productName+"</figcaption></figure></div>");
          $('#imgs'+productId).click(productClick);
        }
      },
      error:function(xmlHttpRequestObj,status,error) {
        console.log(error);
      },
      complete:function(xmlHttpRequestObj) {
        console.log("Complete ");
      },
      dataType:"json",
      async:true
    });
  });
  // event handlers
  function productClick(e) {
    e.stopPropagation();
    var productPrice = $(e.target).parent().parent().attr('name');
    var productName = $(e.target).next().text();
    var productId = $(e.target).parent().attr('name');
    var isProductExist = false;
    if( $('table>tbody>tr>td>label>h4:contains("'+productName+'")').length) {
      // increment the quantity on multiple product selection
      var quantity = $('table>tbody>tr>td>label>h4:contains("'+productName+'")').parent().parent().next().children().first().children().first().text();
      quantity++;
      $('table>tbody>tr>td>label>h4:contains("'+productName+'")').parent().parent().next().children().first().children().first().text(quantity);
      // increment the price on multiple product selection
      var price = $('table>tbody>tr>td>label>h4:contains("'+productName+'")').parent().parent().next().next().next().next().children().first().children().first().attr('name');
      price*=quantity;
      $('table>tbody>tr>td>label>h4:contains("'+productName+'")').parent().parent().next().next().next().next().children().first().children().first().text(price);
      // increment total price 
      totalPrice = parseInt($('#totalPrice').text());
      totalPrice+=parseInt(productPrice); 
      $('#totalPrice').text(totalPrice);
      
    } else {
      $('#choose').append(generateTags(productName,productId,productPrice));
      $('#increment'+productId).click(incrementQuantity);
      $('#decrement'+productId).click(decrementQuantity);
      $('#delete'+productId).click(cancelProduct);
      // increment total price
      totalPrice = parseInt($('#totalPrice').text());
      totalPrice+=parseInt(productPrice);
      $('#totalPrice').text(totalPrice);
    }
  }
  // product block generator 
  function generateTags(productName,productId,productPrice) {
    var tags = "<tr id='"+productId+"' class='productInfo'><td><label><h4 name='pName'>"+productName+"</h4></label></td><td><label><h4 id='quantity"+productId+"'>1</h4></label></td><td><div class='btn-group-vertical'><button type='button' class='btn glyphicon glyphicon-minus' id='decrement"+productId+"'></button><button type='button' class='btn glyphicon glyphicon-plus' id='increment"+productId+"'></button></div></td><td><label><h4>EPG</h4></label></td><td><label><h4 id='price"+productId+"' name='"+productPrice+"'>"+productPrice+"</h4></label></td><td><button type='button' class='btn btn-danger glyphicon glyphicon-remove' id='delete"+productId+"'></button></td><br/></tr>";
    return tags;
  }
  function cancelProduct(e) {
    e.stopPropagation();
    var pId = $(e.target).attr('id');
    var productId = pId.substring(6); 
    var productTotal = parseInt($('#price'+productId).text()); 
    var total = parseInt($('#totalPrice').text());
    $('#totalPrice').text((total-productTotal));
    $(e.target).parent().parent().empty();
  }
  function incrementQuantity(e) {
    e.stopPropagation();
    var pId = $(e.target).attr('id');
    var productId = pId.substring(9);
    var quantity = $('#quantity'+productId).text();
    quantity++;
    $('#quantity'+productId).text(quantity);
      // increment the price on multiple product selection
      var price = $('#price'+productId).attr('name');
      price*=quantity;
      $('#price'+productId).text(price);
      // increment total price 
      totalPrice = parseInt($('#totalPrice').text());
      totalPrice+=(parseInt(price))/(parseInt(quantity))
      $('#totalPrice').text(totalPrice);
    }
  function decrementQuantity(e) {
    e.stopPropagation();
    var pId = $(e.target).attr('id');
    var productId = pId.substring(9);
    var quantity = $('#quantity'+productId).text();
    if (quantity > 1 ) {
      quantity--;
      $('#quantity'+productId).text(quantity);
      // increment the price on multiple product selection
      var price = $('#price'+productId).attr('name');
      price*=quantity;
      $('#price'+productId).text(price);
      // decrement total price
      totalPrice = parseInt($('#totalPrice').text());
      console.log(totalPrice);
      totalPrice-=(parseInt(price))/(parseInt(quantity));
      $('#totalPrice').text(totalPrice);
    }
  }

</script>
<!-- Mains Div-->
<div class="col-sm-5 col-md-5 " >
<table  padding="5" align="center" id="choose">

    


</table>
<div align="center">
<h4 align="left">Notes</h4>
<textarea rows="4" cols="30" id="notes"></textarea>
<br/>
</div>
<div class="row" align="center">
<div class="col-sm-2">
<label><h4>Rooms</h4></label>
</div>
<br/>

<div class="form-group col-sm-7">

  <select class="form-control" id="rooms">
  </select>
</div>



</div>   
<hr/>
<div align="right">
<label><h4>EGP</h4></label>
<label><h4 id='totalPrice'>0</h4></label>
<br/>
<button class="btn btn-primary" id="confirm">Confirm</button>
<br/>
<br/>

</div>




</div>
<div  class="col-sm-1" align="center">
</div>
<div class="col-sm-6" align="center">
   <div align="left">
       
    <label><h4>Latest Order</h4></label>
    <div class="Container">
    <div class="row" id="latestOrders">

    </div>
           <hr align="center" size="1">
   </div>
   </div>
<div id="products">

    
</div>

    



</div>
</div>

<br/>
<br/>
<br/>

   

<br/>





</div>


</div>
<br/>
<br/>
 <div class="footer text-center" background="Black">
      <div class="well">Insititute of Information and Technology </div>


</body>
</html>
